
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

:root{
    --heading:rgb(0,10,45);
    --para:black;
    --para-tint:black;
    --white:#fff;
    --helper:#8490ff;
    --helper-tint:#f3f4ff;
    --bg:rgb(249,249,255);
    --gradient: linear-gradient(0deg,rgb(132 144 255)0%, rgb(98 189 252)100%);
    --gradientSupport:-webkit-linear-gradient(0deg,rgb(132 144 255)0%, rgb(98 189 252)100%);
    --shadow:0px 0px 20px 0px rgb(132 144 255/20%);
}

html{
    font-size: 62.55%;
    /* 1rem=10px; */
}

h1,h2,h3,h4{
    font-family:'Poppins',sans-serif;
}

h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}


h3{
    font-size: 1.8rem;
    font-weight: 400;
    /* margin-bottom: 1rem; */
}

p{
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}



/* ======= Header Section===== */

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* background-color:white; */
    /* background-color: #8490ff; */

    /* background-color: #f5f3ee; */
    background-color: #dceeff;
    padding: 1rem;
    width: 100%;
    height: 8rem;
    position: fixed;
    box-shadow: var(--shadow);
}
.header-heading{
    font-size: 4.8rem;
    margin-bottom: 2rem;
    margin-left: 4.8rem;
    color: #0d1a91;
    
}

.navbar-lists{
    display: flex;
    margin: 1.8rem;
    gap: 2rem;
    font-size: small;
    font-family: 'poppins',sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: 500;  
    
}
.navbar-link{
    transition: color 0.3 linear;
}
.navbar-link:hover{
    color: rgb(188, 33, 33);
    
}


/* ======================
hero section start
====================== */


.hero-section{
    background-color:#dceeff ;
}
.container{
    max-width: 140rem;
    margin: 0 auto;
}
.section{
    padding: 9rem 0;
    
}

.grid{
    display: grid;
    gap: 9rem;
}

.grid-two-column{
    grid-template-columns: repeat(2,1fr);
}

.hero-section-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section-data{
font-size: 1.5rem;
font-weight: 500;

}

.hero-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;
}

.hero-para{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}

.btn{
   background-color: #0d1a91;
   padding: 1.6rem 3.2rem;
   border: none;
   color: white;
   border-radius: 10px;
}

.btn:hover{
    color:yellow;
}


.hero-section-image{
    display: flex;
    justify-content: center;
    text-align: center;
}
.hero-img{
     max-width: 80%;
}





/* ====about section=== */
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #dceeff;
}

.about-section{
     height: 500px;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     padding: 0 5rem;
     

}


.about-image {
    /* background-color: #8490ff; */
    display: flex;
    justify-content: center;
    text-align: center;
}
.about-image img{
    margin-top: 40px;
    background-position: center;
    width: 400px;
    height: 400px;
}

.about-contant{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

.about-content-para{
      margin-top: 40px;
      justify-content: start;
      text-align: start;
      color: black;
}



/* =====counter section=== */
 .counter{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* justify-content: center; */
    text-align: center;
    color: white;
    padding: 4rem;
    /* background-color: rgb(132 144 255); */
    /* background-color: #F0C0CB; */
    background-color: #2dbdbd;
    
 }
 .counter-heading {
    color: white;
    font-size: 4.8rem;
 }
 .counter-para{
    color: white;
 }





/* =====service setion=== */

.service-container{
    background-color: #dceeff;
}
.services-top{
    
    /* margin: 5rem 10rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.services-buttom{
    margin-top: 5rem;
}

.grid-three-column {
       grid-template-columns: repeat(3,1fr);
       row-gap: 5rem;
       margin: 0 10rem;
       
       
}

.service-card{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding: 6.4rem 3.4rem; */
    padding: 4.4rem 2.4rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
    gap: 5px;
    transition: all 0.4s linear;
    cursor: pointer;
}

.service-card:hover{
    /* background-color:whitesmoke; */
    background-color:rgba(132, 144, 255, 0.497);
    transition: all 0.4s linear;
    transform:translateY(-2rem);
}
.service-logo{
    font-size: 5rem;

}

/* ====contact us==== */

.container-segment{
    width: 100%;
    background-color:#dceeff;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    
}
.gap{
    padding: 10px;
    
}


.button{
    background-color: green;
    /* padding: 1.6rem 3.2rem; */
    width: 500px;
    height: 50px;
    border: none;
    color: black;
    border-radius: 10px;

    
}
    
 input{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    background-color: #dceeff;
 }

 textarea{
    width: 500px;
    border-radius: 10px;
    background-color: #dceeff;
 }
 
 .button:hover{
     color:yellow;
 }


 /* ====footer=== */

 .footer{
    /* background-color: #004658; */
    /* background-color: #24262b; */
    background-color: black;
    width: 100%;
    height: 350px;
    padding: 40px;
}



.fContent{
    /* background-color: #24262b; */
    background-color: black;
    display: flex;
    color: #ccc;
    justify-content: space-evenly;
    margin-top: 30px;
    cursor: pointer;
    /* border: 1px solid #ccc; */
  
}
a{
    color: blue;
    font-size: medium;
}
.a-color{
    color: white;
}
.a-color:hover{
    color: blue;
}

.hover:hover{
    transform: scale(1.05);
}

.fHeading{
    font-size: 30px;
    margin: 10px 0;
}


/* =====copy-right======  */

.copyright{
    background-color: #24262b;
    width: 100%;
    height: 50px;
}
 .copyright-content{
    display:flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

 }



.icon{
    
    color: #dceeff;
}

.a-link{
    /* background-color: #ccc; */
    color: #ccc;
    font-size: 30px;
}
.a-link:hover{
    color: blue;
}



